<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--
        리스트 렌더링

        v-for로 엘리먼트에 배열 매핑하기
        v-for 디렉티브를 사용하여 배열을 기반으로 리스트를 렌더링 할 수 있습니다.
        v-for 디렉티브는 item in items 형태로 특별한 문법이 필요합니다.
        여기서 items는 원본 데이터 배열이고 item은 반복되는 배열 엘리먼트의 별칭.
    -->
    
    <ul id="example-1">
        <li v-for='item in items'>
            {{ item.message }}
        </li>
    </ul>
    
    <!--
        v-for 블록 안에는 부모 범위 속성에 대한 모든 권한이 있습니다.
        v-for는 또한 현재 항목의 인덱스에 대한 두번째 전달인자 옵션을 제공합니다.
    -->

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <!-- in 대신에 of를 사용 할 수 있음. -->
    <div v-for="item of items"></div>

    <!-- 
        v-for와 객체
        v-for를 사용하여 객체의 속성을 반복 할 수도 있음.
    -->

    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        
        <!-- 키에 대한 두 번째 전달 인자를 제공 할 수도 있음. -->
        <div v-for="(value, name) in object">
            {{ name }}: {{ value }}
        </div>
        
        <!-- 인덱스도 제공함 -->
        <div v-for="(value, name, index) in object">
            {{ index }}, {{ name }}: {{ value }}
        </div>

        <!-- 객체를 반복 할 때 순서는 'Objext.keys()'의 키 나열 순서에 따라 결정 됨-->
    </ul>

    <!--
        Maintaining State

        Vue가 v-for에서 렌더링 된 엘리먼트 목록을 갱신할 때 기본적으로 
        'in-place patch' 전략.
        데이터 항목의 순서가 변경된 경우 항목의 순서와 일치하도록 DOM요소 이동 대신
        Vue는 각 요소를 적절한 위치에 패치. 
        해당 인덱스에서 렌더링할 내용을 반영하는지 확인.
        Vue 1.x의 track-by=$index의 동작과 유사.

        기본 모드는 효율적이지만 
        목록의 출력 결과가 하위 컴포넌트 상태 또는 임시 DOM 상태(예: 폼 input)에 의존하지 않는 경우 적합.

        Vue에서 개별 DOM 노드 추적하고 기존 엘리먼트 재사용, 재정렬 하기 위해서 
        v-for의 각 항목들에 고유한 key 속성을 제공해야 함.
        key에 대한 이상적인 값은 각 항목을 식별할 수 있는 고유한 ID
        이 특별한 속성은 1.x 버전의 track-by와 거의 비슷하지만 속성처럼 작동.
        v-bind를 사용하여 동적 값에 바인딩 해야 함. 
    -->

    <div v-for="item in items" v-bind:key="item.id">
        <!-- content-->
    </div>

    <!-- 
        반복되는 DOM 내용이 단순한 경우나 의도적인 성능 향상을 위해 
        기본 동작에 의존하지 않는 경우를 제외하면, 
        가능하면 언제나 v-for에 key를 추가하는 것이 좋음.

        객체나 배열처럼, 기본타입(Primitive value)이 아닌 값을 키로 사용해서는 안됨.
        대신 문자열이나 숫자를 사용.

        key는 Vue가 노드를 식별하는 일반적인 메커니즘이기 때문에 
        v-for와 특별히 연관되지 않는 다른 용도로도 사용 됨.
    -->
    <div id="filtering">
        <li v-for="n in evenNumbers">{{ n }}</li>
    </div>
        
    <!-- 계산된 속성을 실행할 수 없는 상황(예: 중첩 된 v-for 루프 내부)-->
    <div id="filtering2">
        <li v-for="n in evenNumbers">{{ n }}</li>
    </div>

    <!-- 
        Range v-for 
        v-for 는 숫자를 사용할 수 있음. 템플릿 여러번 반복
    -->
    <div>
        <span v-for="n in 10">{{ n }} </span>
    </div>

    <!-- 
        v-for 템플릿
        v-if와 마찬가지로 <template> 태그ㅡㄹ 사용해 여러 엘리먼트의 블럭을 렌더링 할 수 있음.
    -->
    <ul>
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li class="divider" role="presentation"></li>
        </template>
    </ul>

    <!--
        v-for와 v-if
        동시에 사용하는 것을 추천하지 않음.
        동일 노드에 두가지 모두 있다면 v-for가 v-if보다 높은 우선순위.
        v-if는 루프가 반복될 때마다 실행 됨.
        일부 항목만 렌더링 하려는 경우 유용.
    -->
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo }}
    </li>
    <!--
        위의 경우 완료되지 않은 할일만 렌더링 함. 
        실행을 조건부로 하는 것이 목적 : 레퍼 엘리먼트(또는 <template>) 사용
    -->

    <ul v-if="todos.length">
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ul>
    <p v-else>No todos left!</p>

    <!--
        v-for와 컴포넌트 -> 컴포넌트 학습 후 돌아오기
    -->



    <script src="list_rendering.js"></script>
</body>
</html>