<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
        <!-- #문자열 -->
        <span>메시지: {{ msg }}</span>
        <!-- Mustache 태그는 해당 데이터 객체의 msg 속성 값으로 대체 됨.
            데이터 객체의 msg 속성이 변경 될 때마다 갱신됨. -->
        <span v-once>다시는 변경하지 않습니다.: {{ msg }}</span>    
        <!-- v-once 디렉티브를 사용하여 데이터 변경 시 업데이트 되지 않는 
        일회성 보간을 수행할 수 있지만, 같은 노드의 바인딩에도 영향을 미침.-->
    
        <!-- #원시 HTML -->
        <!-- 이중 중괄호는 HTML이 아닌 일반 텍스트로 데이터를 해석함. 
        실제 HTML을 출력하려면 v-html 디렉티브를 사용해야 함.-->
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        <!-- span의 내용은 rawHtml로 대체 됨. 데이터바인딩 무시 됨.-->
    
        <!-- #속성 -->
        <!-- {{}}는 HTML 속성에서 사용할 수 없음. 대신 v-bind 사용-->
        <div v-bind:id="dynamicID"></div>
        <!--boolean 속성 사용 시 단순히 true인 경우 v-bind -->
        <button v-bind:disabled="isButtonDisabled"></button>
        <!-- isButtonDisabled가 null, undefiend 또는 false의 값을 가지면 
        disabled 속성은 렌더링 된 <button> 엘리먼트에 포함되지 않음.-->
        
        <!-- #JavaScript 표현식 사용 -->
        <!-- Vue.js는 모든 데이터 바인딩 내에서 JS 표현식의 모든 기능 지원-->
        {{ number + 1 }}
        {{ ok ? 'Yes' : 'No' }}
        {{ message.split('').reverse().join('') }}    
        <div v-bind:id="'list-' + id"></div>

        <!-- 각 바인딩에 하나의 단일 표현식 만 포함 될 수 있음. -->
        <!-- 아래는 구문입니다. 표현식이 아닙니다. -->
        {{ var a = 1 }}

        <!-- 조건문은 작동하지 않습니다. 삼항 연산자를 사용해야 합니다.-->
        {{ if ( ok ) { return message } }} 

        <!-- 템플릿 표현식은 샌드박스 처리 됨. Math, Date 등 전역으로 사용 가능만 접근 가능 -->

        <!-- #디렉티브 -->
        <!-- 디렉티브는 v- 접두사가 있는 특수 속성.
        속성 값은 단일 JavaScript 표현식이 됨. (v-for 예외)
        디렉티브의 역할은 표현식의 값이 변경 될 때 사이드 이펙트를 
        반응적으로 DOM에 적용 하는 것. -->

        <p v-if="seen">이제 나를 볼 수 있어요.</p>
        <!-- 여기서 v-if 디렉티브는 seen 표현의 진실성에 기반하여 
        <p> 엘리먼트를 제거 또는 삽입. -->

        <!-- #전달인자 -->
        <!-- 일부 디렉티브는 콜론으로 표시되는 '전달인자'를 사용 할 수 있음.
        예를 들어 v-bind 디렉티브는 반응적으로 HTML 속성을 갱신하는데 사용 됨.-->
        <a v-bind:href="url">...</a>
        <!-- 여기서 href는 전달인자로, 엘리먼트의 href 속성을 표현식 url의 값에 
        바인드 하는 v-bind 디렉티브에게 알려줌.-->

        <!-- DOM 이벤트를 수신하는 v-on 디렉티브 -->
        <a v-on:click="doSomething"> ... </a>
        <!-- 전달인자는 이벤트를 받을 이름. -->

        <!-- #동적 전달 인자. -->
        <!-- 2.6.0 버전부터 JavaScript 표현식을 대괄호로 묶어 디렉티브의 아규멘트로 사용하는 것도 가능.-->

        <a v-bind:[attributeName]="url"></a>

        <!--
            여기서 attributeName은 Javascript형식으로 동적 변환되어, 그 변환 결과가 전달인자의 최종적인 밸류로 사용 됨.
            예 ) 인스턴스에 href라는 값을 가진 attributeName 데이터 속성을 가진경우, v-bind:href와 동일
            유사 ) 동적인 이벤트명에 핸들러를 바인딩 할 때 동적 전달 인자 활용 가능.
        -->

        <a v-on:[eventName]="doSomething"> ... </a>
        <!-- 
            이 예시에서 eventName의 값이 "focus"라고 한다면 
            v-on:[eventName] 은 v-on:focus와 동등.
        -->

        <!--
            동적 전달 인자 값의 제약

            동적 전달인자는, null을 제외하고 string으로 변환될 것으로 예상 함. 
            특수 값인  null은 명시적으로 바인딩을 제거하는데 사용 됨.
            그 회, string이 아닌 값은 경고 출력 함.
        -->

        <!-- 
            동적 전달인자 형식의 제약

            동적 전달인자의 형식에는 문자상의 제약이 있음.
            스페이스와 따옴표 같은 몇몇 문자는 HTML의 속성명으로서 적합하지 않은 문자이기 떄문.
        -->

        <!-- 컴파일러 경고 -->
        <a v-bind:['foo' + bar]="value"> ... </a>

        <!-- 
            이를 피하는 방법은, 스페이스나 따옴표를 포함하지 않는 형식을 사용하거나, 
            복잡한 표현식을 계산 된 속성으로 대체하는 것.

            in-DOM 템플릿을 사용할 때에는 (템플릿이 HTML파일에 직접 쓰여진 경우 ), 
            브라우저가 모든 속성명을 소문자로 만드는 관계로 대문자의 사용을 피하는 것이 좋음.
        -->

        <!--
            in-DOM 템플릿에서는 이 부분이 v-bind:[someattr]로 변환됨.
            인스턴스에 'someattr' 속성이 없는 경우, 이 코드는 동작하지 않음.
        -->
        <a v-bind:[someAttr]="value">...</a>

        <!-- #수식어 -->
        <!--
            수식어는 점으로 표시되는 특수 접미사.
            디렉티브를 특별한 방법으로 바인딩 해야함을 나타냄.
            예) .prevent 수식어는 트리거 된 이벤트에서 event.preventDefault()를 
            호출하도록 v-on 디렉티브에게 알려줌.
        -->
        <form v-on:submit.prevent="onSubmit">...</form>

        <!-- 약어 -->
        <!--
            v- 접두사는 템플릿의 Vue 특정 속성을 식별하기 위한 시각적인 신호 역할.
            기존의 마크업에 동적인 동작을 적용할 때 유용.
            일부 자주 사용되는 디렉티브에 대해 너무 장황.
            동시에 Vue.js가 모든 템플릿을 관리하는 SPA를 만들 때 
            v-접두어의 필요성 저하.
            따라서, 가장 자주 사용되는 두개의 디렉티브인 v-bind와 v-on에 대해 약어 제공
        -->

        <!-- #v-bind 약어 -->
            <!-- 전체 문법 -->
            <a v-bind:href="url">...</a>

            <!-- 약어 -->
            <a :href="url"> ... </a>

            <!-- shorthand with dynamic argument (2.6.0+) -->
            <a :[key]="url"> ... </a>

        <!-- #v-on 약어 -->
            <!-- 전체 문법 -->
            <a v-on:click="doSomething"> ... </a>

            <!-- 약어 -->
            <a @click="doSomething"> ... </a>

            <!-- shorthand with dynamic argument (2.6.0+) -->
            <a @[event]="doSomething"></a>

    
</body>
</html>